.password-check, .password-uncheck {
    margin: 5px 20px 5px 20px;
    padding: 0 10px 0 10px;
    border-radius: 20px;
    font-weight: bolder;
}

.password-check {
    list-style: "\2705";
}

.password-uncheck {
    list-style: "\274C";
}