@import "../../scss/variables";

footer {
    h2 {
        font-size: 18px;
        font-weight: bolder;
        color: $tertiary-color;
    }
    .footer__icons {
        font-size: 50px;
        margin: 4px;
        &__facebook {
            color: #3b5998;
        }
        &__twitter {
            color: #00acee;
        }
        &__linkedin {
            color: #0e76a8;
        }
    }  
}
