@import "../../scss/custom.scss";

header {
    nav {
        display: flex;
        justify-content: space-around;
    }
    .navbar-brand {
        margin: auto;
    }
    img {
        height: 50px;
        width: auto;
    }
    .navbar-collapse {
        flex-grow: 0;
    }
    .logout-button {
        line-height: 30px;
        text-align: center;
        @include button-log-mode;
    }
    .logout-icon {
        font-size: 20px;
        font-weight: bolder;
    }
}

